body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

*{
    transition: .3s;
}

button{
    font-family: 'Montserrat', sans-serif;
}


.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  
}
video{
    position: fixed;
    right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
   
    z-index: -1;
    height: 100%;
}

.heroText{
   
    color: #fff;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
}
.heroText2{
    
    color: #fff;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.heroText h1{
    font-size: 3em;
    margin: 0;
}
.heroText2 h1{
    font-size: 3em;
    margin: 0;
}

.heroText button{
    color: #fff;
    background: transparent;
    border: solid 2px #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 5px;
    font-weight: bold;
    display: inline-block;
}

.heroText button:hover{
    cursor: pointer;
    background: #fff;
    border: solid 2px #fff;
    color: #333;
}

button.joinNow{
    background: rgb(0, 206, 93);
    border: solid 2px rgb(0, 206, 93);
}

button.joinNow:hover{
    color: #fff;
    background: rgb(1, 168, 76);
    border: solid 2px rgb(1, 168, 76);
}